.draggable-item {
  border: 1px solid black;
  background-color: rgba(0, 0, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-resizable {
  position: absolute;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: se-resize;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}
