@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-villa-container {
  width: 90%;
  max-width: 430px;
  text-align: center;
}

h2 {
  color: #000;
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 20px;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 10px 0;
  z-index: 1000;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  text-align: left;
  color: #000;
  font-weight: 600;
  margin-bottom: 5px;
}

.input-group .villa-input-field {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  border: none;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  font-size: 1em;
  margin-bottom: 20px;
}

.input-group input:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 15px;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  font-size: 1em;
}

.search-input:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

.dropdown {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown li {
  padding: 10px;
  background: #fff;
  cursor: pointer;
}

.dropdown li:hover {
  background: #f1f1f1;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.entervillaadd-btn {
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 15px;
  background-color: green;
  color: #fff;
}

.entervillaadd-btn:hover {
  background-color: #333;
}

.qr-container {
  margin-top: 30px;
}

.message {
  margin-top: 20px;
  color: #e74c3c;
  font-size: 1em;
}