@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-list-container {
  width: 100%;
  text-align: center;
}

.usernamelist-header {
  text-align: center;
}

.usernamelist-h2 {
  color: #000;
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 20px;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 10px 0;
  z-index: 1000;
}

.usernamelist-body {
  overflow-y: scroll;
  min-height: 400px;
  max-height: 400px;
}

.username-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
  text-align: left;
}

.username-list li {
  background-color: #f1f1f1;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 1em;
}

.message {
  margin-top: 20px;
  color: #e74c3c;
  font-size: 1em;
}

.usernamebutton-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.usernamebutton-group .usernamelistlogin-btn,
.usernamebutton-group .usernamelistfindpwd-btn {
  padding: 10px 20px; /* Reduced padding for smaller button size */
  border-radius: 15px; /* Reduced border-radius for smaller size */
  font-size: 1em; /* Reduced font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  width: 100%; /* Adjust button width */
  max-width: 300px; /* Set max-width for better layout */
  margin-bottom: 10px; /* Reduced margin between buttons */
  background-color: green;
  color: #fff;
}

.usernamebutton-group .usernamelistlogin-btn:hover,
.usernamebutton-group .usernamelistfindpwd-btn:hover {
  background-color: #333;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .username-list-container {
    width: 95%; /* Adjust width for smaller screens */
  }

  .usernamelist-h2 {
    font-size: 2em; /* Adjust font size for mobile */
  }

  .username-list li {
    font-size: 0.9em; /* Adjust list item font size for mobile */
    padding: 8px 12px; /* Adjust padding for mobile */
  }

  .usernamelist-body {
    min-height: 300px; /* Adjust height for mobile */
    max-height: 300px;
  }

  .usernamebutton-group .usernamelistlogin-btn,
  .usernamebutton-group .usernamelistfindpwd-btn {
    font-size: 0.9em; /* Adjust button font size for mobile */
    padding: 8px 15px; /* Adjust padding for mobile */
  }
}
