@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-list-container {
  width: 100%;
  max-width: 430px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.usernamelist-header {
  margin-bottom: 20px;
}

.usernamelist-h2 {
  color: #2c3e50;
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

.usernamelist-body {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.usernamelist-body li {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ecf0f1;
  margin-bottom: 10px;
  font-size: 1em;
  color: #2c3e50;
}

.message {
  color: #e74c3c;
  font-size: 1em;
  margin-bottom: 20px;
}

.usernamebutton-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.usernamebutton-group .usernamelistlogin-btn,
.usernamebutton-group .usernamelistfindpwd-btn {
  padding: 10px 20px; /* Reduced padding for smaller button size */
  border-radius: 15px; /* Reduced border-radius for smaller size */
  font-size: 1em; /* Reduced font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  width: 100%; /* Adjust button width */
  margin-bottom: 10px; /* Reduced margin between buttons */
  background-color: #000;
  color: #fff;
}

.usernamebutton-group .usernamelistlogin-btn:hover,
.usernamebutton-group .usernamelistfindpwd-btn:hover {
  background-color: #333;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {

  .usernamelist-h2 {
    font-size: 2em; /* Adjust font size for mobile */
  }

  .username-list li {
    font-size: 0.9em; /* Adjust list item font size for mobile */
    padding: 8px 12px; /* Adjust padding for mobile */
  }

  .usernamelist-body {
    min-height: 300px; /* Adjust height for mobile */
    max-height: 300px;
  }

  .usernamebutton-group .usernamelistlogin-btn,
  .usernamebutton-group .usernamelistfindpwd-btn {
    font-size: 0.9em; /* Adjust button font size for mobile */
    padding: 8px 15px; /* Adjust padding for mobile */
  }
}
